<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.processText(event)">
                    <textarea id="text" name="text" rows="4" cols="96">
                    </textarea>         
                    <input type="submit" name="" value="Process" onclick="return Client.processText(event)" onsubmit="return Client.processText(event)">
                </form>
            <section>

            <section>
                <strong>NPL Results:</strong>
                <div id="remaining_credits">Remaining credits: </div>
                <br><br>
                <table>
                    <tr>
                      <th>Attribute</th>
                      <th>Value</th>
                    </tr>
                    <tr>
                      <td >model</td>
                      <td id="model"></td>
                    </tr>
                    <tr>
                        <td >score_tag</td>
                        <td id="score_tag"></td>
                    </tr>
                    <tr>
                        <td >agreement</td>
                        <td id="agreement"></td>
                    </tr>
                        <tr>
                        <td >subjectivity</td>
                    <td id="subjectivity"></td>
                    </tr>
                    <tr>
                        <td >confidence</td>
                        <td id="confidence"></td>
                    </tr>
                    <tr>
                        <td >irony</td>
                        <td id="irony"></td>
                    </tr>
                    <tr>
                        <td >sentence_list</td>
                        <td id="sentence_list"></td>
                    </tr>
                    <tr>
                        <td >sentimented_entity_list</td>
                        <td id="sentimented_entity_list"></td>
                    </tr>
                    <tr>
                        <td >sentimented_concept_list</td>
                        <td id="sentimented_concept_list"></td>
                    </tr>
                  </table>
            </section>
        </main>
       
        <footer>
            <p>This is a footer</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
